@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo específico para el logo para evitar subrayado */
.logo-link {
    text-decoration: none; /* Quitar cualquier subrayado predeterminado */
}

.logo-link:hover::after {
    content: none; /* Asegurarse de que no haya contenido de subrayado */
}

/* Animación de subrayado */
a:not(.logo-link):hover {
    position: relative;
}

.img-responsive {
    width: 100%; /* O el tamaño específico que necesites */
    height: auto; /* Mantiene la altura en proporción con el ancho */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor, recortando si es necesario */
}

a:not(.logo-link):hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff; /* Cambia el color según tus preferencias */
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

a:not(.logo-link):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

